<main>
  <div class="container">
    <app-header></app-header> 
    <div class="content">
      <div class="content-main">
        <div class="notification-box">
          <h1 class="title">{{ message }}</h1>
          <button type="button" class="btn btn-primary btn-sm" (click)="onOK()">OK</button>
        </div>
      </div>
    </div>
    <footer class="footer">
      <div class="content-main">
        <p>Copyright ©　2010　ルビナソフトウエア株式会社. All rights reserved.</p>
      </div>
    </footer>
  </div>
</main>
